.CatalogPage {
    text-align: center;
    padding: 20px;
}

.top-part button {
    margin-top: 20px;
    width: 112px;
    padding: 10px 20px;
    background-color: #0f172a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-part h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 32px;
}

.thick {
    font-size: 22px;
    line-height: 1.6;
    color: #0b0b0b;
    font-weight: bold;
    margin-bottom: 10px;
}

.top-part p {
    font-size: 22px;
    line-height: 1.6;
}

.bottom-part p {
    font-size: 22px;
    line-height: 1.6;
}

.top-part button:hover {
    background-color: #172554;
}

.top-part {
    margin-bottom: 20px;
}

.table {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #ccc;
}

.table-header {
    background-color: #f0f0f0;
    font-weight: bold;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 50%;
}

.bottom-part {
    margin-top: 20px;
}

