.Catalog-body {
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 3px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Catalog-body h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 32px;
}

.Catalog-body p {
    font-size: 22px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 20px;
}

.buttons a {
    text-decoration: none; 
}

.buttons button {
    width: 126px;
    padding: 10px 20px;
    background-color: #0f172a;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #172554;
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column; 
        align-items: center; 
    }

    .Catalog-body p {
        font-size: 18px;
    }

    .buttons button{
        margin: 10px;
    }
}
